@import url("//fonts.googleapis.com/css?family=Roboto:500,300");
@import url(font-awesome.min.css);

/**************************
 *
 * GENERAL DEFINITIONS
 *
 **************************/

* {
  box-sizing: border-box;  
  /*max-width:1000px;
  margin-left: calc(50% - 500px);*/
}

/*fonts{
	font-family:"Roboto", Helvetica, sans-serif;
	font-family: FontAwesome;
	font-family: "Courier New", monospace; 
	
	Avenir
	Geneva
	Andale Mono
}*/

p{
font-size:1.2em;
}

.my_heading1{
	font-size: 2.5em;
	font-weight: bold;
}

/*25274D 464866 AAABB8 2E9CCA 29648A #EBECEE*/



/**************************
 *
 * TOP MENU
 *
 **************************/

.top_nav{
	background-color:#FFFFFF;
	width: 100%;
}

.top_nav ul {
    list-style-type: none;
    background-color:#FFFFFF;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    width: 100%;    
}

.top_nav ul li {
    float: left; 
    background-color:#FFFFFF;
    color: #5F5F60;
    width: 8%;
    /*width: 72px;*/
}

.top_nav li a {
    display: block;
    color: #5F5F60;
    background-color:#FFFFFF;
    text-align: center;
    padding: 1vw;
    /*margin: 2px;*/
    text-decoration: none;
}

.top_nav li a:hover {
    color: #52A6D8;
}

/* BURGER MENU*/
.burger_icon {
    display: inline-block;
    background-color:#e5e5e5;       
    width: 40px;
    margin: 5px 0px 0px 0px;    
    cursor: pointer;
    border-radius: 10%;
   
}

.burger_icon:hover{
    background-color: #DADCDD;
}

.bar1 {
    width: 60%;
    height: 4px;
    background-color: #333;
    margin: 15% 20% 0% 20%;
    transition: 0.4s;
    border-radius: 10%;
}

.bar2 {
    width: 60%;
    height: 4px;
    background-color: #333;
    margin: 10% 20% 10% 20%;
    transition: 0.4s;
    border-radius: 10%;
}


.bar3 {
    width: 60%;
    height: 4px;
    background-color: #333;
    margin: 0% 20% 15% 20%;
    transition: 0.4s;
    border-radius: 10%;
}



/* Style the navigation menu */
.top_small_nav {
  overflow: hidden;
  background-color: white;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.top_small_nav #myLinks {
  display: none;  
}

/* Style navigation menu links */
.top_small_nav a {
  background-color:#e5e5e5; 
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.top_small_nav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.top_small_nav a:hover {
  background-color: #ddd;
  color: black;
}


.top_small_nav {
  display: none;
}




@media (max-width: 960px) {
  /*nav ul     { display: none; }*/
  .top_nav     { display: none; }
  .top_small_nav { display: inline-block; }
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .top_nav{
    width:100%;
  }
}



/**************************
 *
 * TOP PANEL
 *
 **************************/


.top_panel0{
	background-color:#FFFFFF;	
	color: #3B3B3C;
	text-align:center;		
	line-height:0.5em;
	/*font-family: Avenir;*/	
	
	border-color: #000;
	border-width: 1px;
	border-style: solid;
	
    /*height: 20%;
    width: 50%;*/
    
    position:relative;
    margin:50px calc(45% - 200px);
      
    padding:50px 5px 5px 5px;
    border-radius: 3px;  
    
  
}

.top_panel{
	background-color:#FFFFFF;	
	color: #3B3B3C;
	text-align:center;		
	line-height:0.5em;
	/*font-family: Avenir;*/	
	
	border-color: #000;
	border-width: 1px;
	border-style: solid;
	
    /*height: 20%;
    width: 50%;*/
    
    position:relative;
    margin:50px calc(45% - 200px);
      
    padding:50px 5px;
    border-radius: 3px;  
    
  
}

       

#top_panel_mask1 {
        position: absolute;
        top:-1px;
        left:40%;
        width:71%;
        height: 2%;
        background-color:#fff;
}

#top_panel_mask2 {
        position: absolute;
        bottom:-1px;
        left:0px;
        width:60%;
        height: 2%;
        background-color:#fff;
}

#top_panel_mask3 {
        position: absolute;
        bottom:60%;
        right:-1px;
        width:5%;
        height: 50%;
        background-color:#fff;
}


#top_panel_mask4 {
        position: absolute;
        bottom:-1px;
        left:-1px;
        width:5%;
        height: 30%;
        background-color:#fff;
}




/**************************
 *
 * MIDDLE MENU
 *
 **************************/


.middle_box {
  max-width: 1500px;
  /*width:calc(90%-100px); */
  width:75%;
  background-color:#F1F3FA;  
  margin:50px auto;
  border-radius: 6px;  
  
} 


.middle_menu {
  float:left;
  /*width:450px;*/  
  width:30%;  
  /*height:auto; */
  height:300px;  
  position:relative;
  
  text-align:center;
  font-family:Avenir;
  color:#323234;
  
  background-color: #C6CEE4; 
  border-color: transparent; 
  border-radius: 5px;
  margin: 60px 1.667%;	
 
}





.icon_1{
	width:90px; 
	height:90px;		
	background-color:white;
	text-align:center; 
	position: absolute;
	top: 5vw;
	left: 5vw;
	
	border-style: solid;
	border-radius: 50%;
 	border-color: #e5e5e5;
 	border-width: 1px;
}

.icon_2{
	width:70px; 
	height:70px;		
	background-color:#72BBE1;
	text-align:center; 
	position: absolute;
	top: 35%;
	left: 35%;
	
	border-style: solid;
	border-radius: 50%;
 	border-color: #72BBE1;
 	border-width: 1px;
}


.middle_menu_header {
   font-size: 1.5em;
	/*margin-top: 0.83em;
    margin-bottom: 0.83em;*/
    margin-left: 0;
    margin-right: 0;
    /*font-weight: bold;*/
 
  
  text-align:center;
  font-family:Avenir;
  color:#555657;
  
 
} 

.middle_menu_header a{
  background-color:#464866;
 
  padding:20px;
  margin-bottom:20px;
  display:block;
  width:100%;
  color:#FFFFFF;
  
  border-style: solid;
  border-color: #464866;
  border-width: 1px;
  border-radius: 6px 6px 0 0;
}

.middle_menu_header :hover{
color: #52A6D8;

 
 
}

.middle_menu_img{
	width:90px;
	background-color:#25274D;	
	padding:2px ;	
	border-style:solid; 
	border-width:5px; 
	border-radius:50%; 	
	border-color:#8090CF	
}




@media only screen and (max-width:700px) {
  /* For mobile phones: */
  .middle_menu, .middle_menu_projects, .middle_main {
    width:98%;
     margin: 5px 1.667%;	
  }
}  


 @media only screen and (max-width:1220px) {
  /* For mobile phones: */
  .middle_menu {
    height: 350px;  	
  } 
}
  
  @media only screen and (max-width:1000px) {
  /* For mobile phones: */
  .middle_menu{
    height:400px;  	
  } 
}

    @media only screen and (max-width:800px) {
  /* For mobile phones: */
  .middle_menu {
    height:450px;  	
  } 
}  




/*.middle_projects_menu {
  
 
  height:auto;   
  
  position:relative;
  
  text-align:center;
  font-family:Avenir;
  color:#555657;
  
 
  margin: 60px 40px;	
 
}*/


/**************************
 *
 * MIDDLE MENU Projects
 *
 **************************/


.middle_box_projects {
  max-width: 1500px;
  /*width:calc(90%-100px); */
  width:75%;
  background-color:#F1F3FA;  
  margin:50px auto;
  border-radius: 6px;  
} 

.middle_menu_projects {
  float:left;
  /*width:450px;*/  
  width:30%;  
  /*height:auto; */
  height:350px;  
  position:relative;
  
  text-align:center;
  font-family:Avenir;
  color:#323234;
  
  background-color: #C6CEE4; 
  border-color: transparent; 
  border-radius: 5px;
  margin: 60px 1.667%;	
 
}

.middle_menu_footer {
  background-color:#464866;
  position:absolute; bottom:0%;
  padding:5px;
  display:block;
  width:100%;
  color:#FFFFFF;
  
  border-style: solid;
  border-color: #464866;
  border-width: 1px;
  border-radius: 0 0 6px 6px;
}


@media only screen and (max-width:750px) {
  /* For mobile phones: */
  .middle_menu_projects {
    width:98%;
    margin: 5px 1.667%;	
  }
}  


 @media only screen and (max-width:1450px) {
  /* For mobile phones: */
  .middle_menu_projects {
    height:370px;  	
  } 
  }

  
  @media only screen and (max-width:1200px) {
  /* For mobile phones: */
  .middle_menu_projects {
    height:430px;  	
  } 
  }
  
  @media only screen and (max-width:1000px) {
  /* For mobile phones: */
  .middle_menu_projects {
    height:470px;  	
  } 
  }
  
    @media only screen and (max-width:800px) {
  /* For mobile phones: */
  .middle_menu_projects {
    height:520px;  	
  } 
  }

/*25274D 464866 AAABB8 2E9CCA 29648A #EBECEE 0D0E1E*/

/**************************
 *
 * BOTTOM PANEL
 *
 **************************/

.bottom_panel{
	/*background-color:#0D0E1E;	*/
	background-color:#25274D;
	color:white;
    text-align:center;
    font-family: Avenir;
    padding:3%;
    margin-top:10px;
    font-size:1.1em;
    /*font-size:40px; */
    margin-bottom:50px;  
     border-radius:6px;  
}




















/**************************
 *
 * CONTACT PAGE
 *
 **************************/



.contact_box_edge{
	width:100%; 	
	background-color: #464866; 	
	padding:15px 10px; 
}	

.contact_box{
	width:100%; 
	position: relative; 
	/*margin:1px 1px 50px 1px; */
	/*background-color:#414B68;*/
	background-color:#C6CEE4;
	color:white;
	margin:60px 0px 40px 0px; 
	
	/*font-size:2vw;*/
	font-size:20px;
	
	
	border-radius: 6px;
	
}	


/*shadow horizontal, vertical, blurr, coma separated for more than 1 shadow*/
.contact_box_over{
	position:absolute;
	width:100px; 
	height:110%;
	transform: skew(-20deg);
	/*left:40vw;*/
	left:500px;
	top:-5%;
	
	/*background-color:#868789;*/
	/*background: linear-gradient(#ACADAE, #EEEFF2);*/
	background: linear-gradient(#464866, #C6CEE4);
	
	color:black;
	z-index:+2;
}	

.contact_box_over_shadow{
	position:absolute;
	width:100px; 
	height:90%;
	transform: skew(-20deg);
	left:500px;
	top:5%;
	
	background-color:transparent;
	color:black;
	
	box-shadow:0 0 1em 0.1em #464646;
 	/*border-radius:100px/10px;*/
 	border-radius:100px/20px;	
    z-index:+1;
}	

.triangle-down {
	position:absolute;
	width: 0;
	height: 0;
	border-left: 0.25em solid transparent;
	border-right: 0.25em solid transparent;
	border-top: 0.7em solid #464866;
	
	z-index:-1;
}

.triangle-up {
	position:absolute;
	width: 0;
	height: 0;
	border-left: 0.3em solid transparent;
	border-right: 0.3em solid transparent;
	border-bottom: 0.8em solid #464866;

	z-index:-1;
}

@media (max-width: 960px) {
  
  .contact_box_over, .contact_box_over_shadow, .triangle-down, .triangle-up { display: none; }
 
}

#arrowAnim {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 5vw;
  height: 5vw;
  border: 2.5vw solid;
  border-color: black transparent transparent black;
  transform: rotate(-45deg);
}

.arrow_2 {
  width: 2.5vw;
  height: 2.5vw;
  border: 2.5vw solid;
  border-color: black transparent transparent black;
  transform: rotate(-45deg);
}




/*@media (min-width:768px){.contact_box{width:750px}}
@media (min-width:992px){.contact_box{width:970px}}
@media (min-width:1200px){.contact_box{width:1170px}}*/


