@import url("//fonts.googleapis.com/css?family=Roboto:500,300");
@import url(font-awesome.min.css);

* {
  box-sizing: border-box;
}

/*fonts{
	font-family:"Roboto", Helvetica, sans-serif;
	font-family: FontAwesome;
	font-family: "Courier New", monospace; 
	
	Avenir
	Geneva
	Andale Mono
}*/

.top_panel{
	background-color:#FFFFFF;
	/*color: #5F5F60;*/	
	color: #3B3B3C;
	text-align:center;	
	font-size:2vw;
	line-height:0.5em;
	/*font-family: Avenir;*/	
	
	border-color: #000;
	border-width: 1px;
	border-style: solid;
	
    /*height: 20%;
    width: 50%;*/
    position:relative;
    margin:7% 25%;	
    padding:1%;
}

       

#top_panel_mask1 {
        position: absolute;
        top:-1px;
        left:40%;
        width:71%;
        height: 2%;
        background-color:#fff;
}

#top_panel_mask2 {
        position: absolute;
        bottom:-1px;
        left:0px;
        width:60%;
        height: 2%;
        background-color:#fff;
}

#top_panel_mask3 {
        position: absolute;
        bottom:60%;
        right:-1px;
        width:5%;
        height: 50%;
        background-color:#fff;
}

#top_panel_mask4 {
        position: absolute;
        bottom:-1px;
        left:-1px;
        width:5%;
        height: 30%;
        background-color:#fff;
}

.bottom_panel{
	background-color:#0D0E1E;
	color:white;
    text-align:center;
    font-family: Avenir;
    padding:10%;
    margin-top:7px;
    line-height:1.5em;	
}




/*LISTS*/
.top_nav{
	background-color:#FFFFFF;
	width: 100%;
}

.top_nav ul {
    list-style-type: none;
    background-color:#FFFFFF;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    width: 100%;    
}

.top_nav ul li {
    float: left; 
    background-color:#FFFFFF;
    color: #5F5F60;
    width: 10%;   
}

.top_nav li a {
    display: block;
    color: #5F5F60;
    background-color:#FFFFFF;
    text-align: center;
    padding: 1vw;
    /*margin: 2px;*/
    text-decoration: none;
}

.top_nav li a:hover {
    color: #52A6D8;
}



/* Style the navigation menu */
.top_small_nav {
  overflow: hidden;
  background-color: white;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.top_small_nav #myLinks {
  display: none;
}

/* Style navigation menu links */
.top_small_nav a {
  background-color:#e5e5e5; 
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.top_small_nav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.top_small_nav a:hover {
  background-color: #ddd;
  color: black;
}


.top_small_nav {
  display: none;
}




/* BURGER MENU*/
.burger_icon {
    display: inline-block;
    background-color:#e5e5e5;       
    width: 40px;
    margin: 5px 0px 0px 0px;    
    cursor: pointer;
    border-radius: 10%;
   
}

.burger_icon:hover{
    background-color: #DADCDD;
}

.bar1 {
    width: 60%;
    height: 4px;
    background-color: #333;
    margin: 15% 20% 0% 20%;
    transition: 0.4s;
    border-radius: 10%;
}

.bar2 {
    width: 60%;
    height: 4px;
    background-color: #333;
    margin: 10% 20% 10% 20%;
    transition: 0.4s;
    border-radius: 10%;
}


.bar3 {
    width: 60%;
    height: 4px;
    background-color: #333;
    margin: 0% 20% 15% 20%;
    transition: 0.4s;
    border-radius: 10%;
}

@media (max-width: 960px) {
  /*nav ul     { display: none; }*/
  .top_nav     { display: none; }
  .top_small_nav { display: inline-block; }
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .top_nav{
    width:100%;
  }
}




.middle_menu {
  float:left;
  width:30%;  
  height:300px;
  text-align:center; 
  padding: 1%;
  position:relative;
  font-family:Avenir;
  color:#555657;
  
  border-style: solid;
  border-color: #B5B6B8;
  border-width: 1px;  
  border-radius: 10%;
  margin: 1.5%;	
}

.icon_1{
	width:90px; 
	height:90px;		
	background-color:white;
	text-align:center; 
	position: absolute;
	top: 5vw;
	left: 5vw;
	
	border-style: solid;
	border-radius: 50%;
 	border-color: #e5e5e5;
 	border-width: 1px;
}

.icon_2{
	width:70px; 
	height:70px;		
	background-color:#72BBE1;
	text-align:center; 
	position: absolute;
	top: 35%;
	left: 35%;
	
	border-style: solid;
	border-radius: 50%;
 	border-color: #72BBE1;
 	border-width: 1px;
}


.middle_menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}

.middle_menu_img{
	/*background-color:#DDDEDE; */
	background-color:#E6E9F4; 
	padding:15px;
	overflow: hidden;
	
	border-style:solid; 
	border-width:3px; 
	border-radius:50%; 
	/*border-color:#95C7DE; */
	border-color:#8090CF
	/*border-color:#70B4D6*/
}


@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .middle_menu, .middle_main, .rmiddle_ight {
    width:100%;
  }
}




.contact_box_upper{
	width:100%; 	
	background-color:#353D52;
	/*background-color:#414B68;*/
	margin:0px 0px 0px 0px; 
	padding:10px 10px; 
	/*font-size:2vw;*/
	font-size:20px;
	
	border-style:solid;
	border-radius:3px;
	border-color:#353D52;
	border-width:1px;
}	

.contact_box{
	width:100%; 
	position: relative; 
	/*margin:1px 1px 50px 1px; */
	/*background-color:#414B68;*/
	background-color:#8E95AA;
	color:white;
	margin:4px 0px 4px 0px; 
	padding:20px 10px; 
	/*font-size:2vw;*/
	font-size:20px;
	
	border-style:solid;
	border-radius:3px;
	border-color:#8E95AA;
}	


/*shadow horizontal, vertical, blurr, coma separated for more than 1 shadow*/
.contact_box_over{
	position:absolute;
	width:10%; 
	height:140%;
	transform: skew(-20deg);
	left:40vw;
	top:-20%;
	
	/*background-color:#868789;*/
	background: linear-gradient(#ACADAE, #EEEFF2);
	
	color:black;
	z-index:+2;
}	

.contact_box_over_shadow{
	position:absolute;
	width:10%; 
	height:120%;
	transform: skew(-20deg);
	left:40vw;
	top:-10%;
	
	background-color:transparent;
	color:black;
	
	box-shadow:0 0 1em 0.1em #464646;
 	/*border-radius:100px/10px;*/
 	border-radius:100px/20px;	
    z-index:+1;
}	

.triangle-down {
	position:absolute;
	width: 0;
	height: 0;
	border-left: 0.7em solid transparent;
	border-right: 0.7em solid transparent;
	border-top: 1.1em solid #ACADAE;
	
	z-index:+1;
}

@media (max-width: 960px) {
  
  .contact_box_over, .contact_box_over_shadow { display: none; }
 
}



/*@media (min-width:768px){.contact_box{width:750px}}
@media (min-width:992px){.contact_box{width:970px}}
@media (min-width:1200px){.contact_box{width:1170px}}*/


